/* ---- CSS Demo ---- */

/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

 /*  ---------------color themes-----------------  */
  /*  ---------------https://color.adobe.com/search?q=forest----------- */

  /*  ---------------#252940----darkblue/grey- */
  /*  ---------------#5A6273---dark grey------ */
  /*  ---------------#8F96A6---grey----------- */
  /*  ---------------#C5CCD9---light grey----- */
  /*  ---------------#E9ECF2---grey/white----- */


/*  --------------- Responsive Images -----------------  */

img{
  max-width:100%;
  height: auto;
}

/*  --------------- Utility Classes -----------------  */

.container{
  max-width: 960px;
  width:80vw;
  margin:40px auto;
}

.img-right{
  float:right;
  margin: 10px 0 10px 20px;
  border:1px solid black;
  padding:5px;
  background-color: #000000;
  border-radius:50px;
}

.img-left{
  float:left;
  margin: 10px 20px 10px 0;
  border:1px solid #c0c0c0;
  padding:5px;
  border-radius:50px;
}

.img-center{
  display:block;
  margin:20px auto;
  border:1px solid #c0c0c0;
  padding:5px;
  border-radius:50px ;
}

/*  --------------- Global Styles -----------------  */

body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  margin: 0;
}

header.primary {
  background-color: black;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px #000000;
  /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /*Single value short hand*/
  padding: 40px;
  /* T,R,B,L */
  padding: 20px 40px 20px 40px;
  /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;
}

header.primary h1 {
  font-size: 2.4rem;
  margin: 20px 0 0;
}

header.primary h1 a {
  color: #ffffff;
  text-decoration: none;
}

header.primary h2 {
  margin: 0;
  font-size: 1.4rem;
}

header.primary nav {
  max-width: 900px;
  margin: 20px auto;
}

header.primary ul {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header.primary ul li {
  list-style-type: none;
}

header.primary nav a {
  color: #ffffff;
  text-decoration: none;
  background-color:rgb(79, 78, 78);
  padding: 7.5px 10px;
  border-radius: 20px;
  border: 1px solid white;
  transition: 0.4s;
}

header.primary nav a:hover {
  background-color: rgb(27, 26, 26);
}

#content{
line-height:1.5;
}

#content h2{
 color: black;
 border-bottom:1px dotted black;
}

#content h3{
  border-left: 7.5px solid black;
  padding:7.5px;
}

#blog{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2rem;
  border-bottom:1px dotted black;
  padding: 2rem 0;
  border-top:1px dotted black;
  flex-wrap:wrap;
}

#blog h2 {
  flex:0 0 100%;
  margin:0;
  text-align:center;
}

#blog .post{
  box-shadow: 0 4px 8px rgba(0,0,0,.6);
  background-color: rgb(47, 46, 46);
  padding: 10px;
  border-radius:4px;
  font-size:.8rem;
  transition:.5s;
  flex:1;
  color:white;
}

#blog figure{
  margin:0;
}

#blog figcaption{
  text-transform:uppercase;
  font-size:.6rem;
  text-align:center;
  color:rgb(255, 255, 255);
}

#blog header{
  padding-top:10px;
  font-size:.6rem;
  color:white;
}

#blog header h2{
  margin:0;
}

#blog a{
  color:rgb(30, 148, 194);
}

#blog .post:hover{
  box-shadow: 0 15px 20px rgba(0,0,0,.6);
}

#practice h2{
  color: gray;
  border-bottom: 1px solid black;
}

table{  
  border: 2px solid black;
  width: 100%;
  margin:20px 0;
  border-collapse:collapse;
}
caption{
  font-weight:bold;
  margin:10px;
}

th{
  background-color: black;
  color:#ffffff;
  padding:7.5px;
}
tr:nth-child(even){
background-color: rgb(91, 90, 90);
}



td{
  border:2px solid black;
  padding:5px;
}







aside[role="complementary"]{
  background-color: rgb(29, 28, 28);
  color:#ffffff;
  padding:.2rem;
}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:60px;
}

aside .container a{
    color:#fff;
}

aside .container a:last-of-type{
  display:block;

  text-align:right;
  margin-top: 1rem;
}

aside .widget footer{
  display:none;
}

#colophon{
  background-color: black;
  text-align:center;
  padding:10px;
  color:#ffffff;
  font-size:1.3rem;
}

body{
  background-color: gray;
}






























@media screen and (max-width: 600px) {
  header.primary ul {
    flex-direction: column;
    gap:10px;
    max-width:250px;
    margin:auto;
  }
  header.primary nav a{
    display:block;
  }
}

      
      
      
      
      