nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border: 1px solid black;
    


}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: #f1c40f;
}

footer{
    font-size: 30px;
    text-align: center;

}

table, th, td{
    border:1px solid black;
}

body{
    background-color:burlywood;
}