
/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

*{
    font:times new roman;
    
    
}
body{
    background-color: rgb(0, 0, 0);
}

h1{
    background-color: rgb(0, 0, 0);
    color: white;
    height:100px;
    text-align: center;
    text-decoration: underline;
    padding-top: 30px;
}

span{
    color: red;

}

nav{
    color: white;
    padding: 10px;

    
}

nav ul{
    display: column;
    gap: 20px;
    list-style: none;
    right:400px;
    
    
}

nav ul li{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
    background-color: gray;
    width: 100px;
    text-align: center;
    
    
}

nav ul li:hover{
    background-color:rgb(85, 84, 84);
    border: 1px solid red;
}

nav a{
    color: white;
    text-decoration: none;
}



.text{background-color: black;
    color: white;
    height: 100px;
    text-align: center;
    padding-top: 30px;

} 

.container{
    background-color: gray;
    width:800px;
    height:800px;
    position: absolute;
    left:35%;
    top: 20%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
}

.container h2{
    text-decoration: underline;
    text-align: center;
    color:rgb(0, 0, 0);
}

.container p{
    color:white;
    text-indent: 2em;
}

















@media screen and (max-width: 600px) {
     ul {
      flex-direction: column;
      gap:10px;
      max-width:250px;
      margin:auto;
    }
     nav a{
      display:block;
    }
  }