
/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

*{
    font:times new roman;
    
}


h1{
    display:flexbox;
    background-color: black;
    color: white;
    padding: 20px;
}

body{
    background-color: gray;
}

li{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px;
    margin:auto;
    padding:auto;

}

ul {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
}

li a{
    color: white;
    text-decoration: none;
    background-color:rgb(71, 69, 69);
    padding: 7.5px 10px;
    border-radius: 20px;
    border: 1px solid white;
    transition: 0.4s;
}

li a:hover{
    background-color: rgb(27, 26, 26);
}






@media screen and (max-width: 600px) {
     ul {
      flex-direction: column;
      gap:10px;
      max-width:250px;
      margin:auto;
    }
     nav a{
      display:block;
    }
  }