html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    background-color: rgb(23, 22, 22);
  }
  

header.primary nav {
    max-width: 900px;
    margin: 20px auto;
  }
  
  header.primary ul {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  header.primary ul li {
    list-style-type: none;
  }
  
  header.primary nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 7.5px 10px;
    border-radius: 20px;
    transition: 0.4s;
  }
  
  header.primary nav a:hover {
    background-color: rgb(27, 26, 26);
  }

  .hgroup h1 a{
    text-decoration: none;
    color: rgb(106, 63, 158);
  }

  footer {
    background-color: rgb(79, 78, 78);
    color: white;
    text-align: center;
    padding: 10px;
    font: 1.2rem Arial, sans-serif;
    

  }

  footer h6{
    font-size: 20px;
  }


  footer h6 span {
    color: rgb(53, 8, 70);
    font-weight: bold;

  }

  #colophon {
    position: absolute;
    bottom:0;
    width: 100%;
  }
   


































@media screen and (max-width: 600px) {
    header.primary ul {
      flex-direction: column;
      gap:10px;
      max-width:250px;
      margin:auto;
    }
    header.primary nav a{
      display:block;
    }
  }
  